{% extends 'base.html' %}
{% block content %}
  <h2>My Calendar</h2>
  <ul>
    {% for event in event_details %}
      <li>
        <div class="calendar-entry">
          <p>CUSTOMER: {{event.customer_id}}</p>
          <p>PRODUCT: {{event.product_id}}</p>
          <p>PREMIUM VALUE: {{event.premium_value}}</p>
          <p>SHOP: {{event.shop}}</p>
          <p>DATE: {{event.date}}</p>
        </div>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'create_event' %}">Add Event</a>
{% endblock %}
